
<h1>Home Page</h1>
<script>function initiate() {
    console.log("opened home page - should route to main menu")
    window.location.href="/mainmenu";
}</script>
<p>Welcome to Path Planner Lib Stoga!</p>
<button onclick="initiate()">Get Started</button>
