<h1>Main Menu</h1>
<script>
function startPlanner() {
    window.location.href = "/pathCreating"
}

function startSettings() {
    window.location.href = "/settings"
}

</script>
<button onclick="startPlanner()">Path Planner</button>
<button onclick="startSettings()">Settings</button>
