
<h1>Path Creating</h1>
<p>Welcome to Path Creating!</p>
<style>

    div {
    
    background-color: lightgrey;
    
    width: 70%;
    height: 70%;
    
    border: 15px solid black;
    
    padding: 50px;
    
    margin: 20px;
    
    }
    
    </style>
<div>
    Path planner box
</div>
