/* public/css/styles.css */
body {
    font-family: Arial, sans-serif;
}

.content {
    text-align: center;
    margin-top: 50px;
}

.navigation {
    text-align: center;
    margin-top: 20px;
}

.box {
  width: 200px;
  height: 100px;
  border: 10px solid black;
  padding: 10px;
  margin: 10px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 5px;
}
