/* public/css/styles.css */
body {
    font-family: Arial, sans-serif;
}

.content {
    text-align: center;
    margin-top: 50px;
}

.navigation {
    text-align: center;
    margin-top: 20px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 5px;
}
